Repository awslabs/ferret-scan: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version-check, go-fmt, go-vet, go-mod-tidy, gosec

.pre-commit-config.yaml:

# Pre-commit configuration for Ferret Scan
# To test: make test-precommit
# To customize: See .pre-commit-config-examples.yaml for different configurations
#
# Current config: Simple approach using script defaults
# - Scans for: HIGH confidence findings only
# - Fails on: HIGH confidence findings only
# - Format: text output, no color, quiet mode
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=102400']  # 100MB = 102400KB
  - id: check-json
  - id: check-yaml
  - id: debug-statements
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: name-tests-test
  - id: no-commit-to-branch
    args: ['--branch', 'main', '--branch', 'master']
  - id: requirements-txt-fixer
  - id: trailing-whitespace

# Go version consistency check
- repo: local
  hooks:
    - id: go-version-check
      name: Check Go version consistency
      entry: ./scripts/go-version.sh
      args: [check]
      language: script
      files: '^(go\.mod|\.go-version|\.gitlab-ci\.yml|Dockerfile)$'
      pass_filenames: false

# Go formatting
- repo: local
  hooks:
    - id: go-fmt
      name: Go Format
      entry: gofmt
      args: [-w]
      language: golang
      files: '\.go$'

# Go vet
- repo: local
  hooks:
    - id: go-vet
      name: Go Vet
      entry: go
      args: [vet, ./...]
      language: golang
      files: '\.go$'
      pass_filenames: false

# Go mod tidy
- repo: local
  hooks:
    - id: go-mod-tidy
      name: Go Mod Tidy
      entry: go
      args: [mod, tidy]
      language: golang
      files: '^go\.(mod|sum)$'
      pass_filenames: false

# Gosec security scanner (high severity only)
- repo: local
  hooks:
    - id: gosec
      name: Gosec Security Scanner
      entry: gosec
      args: [-severity, high, -quiet, ./...]
      language: golang
      files: '\.go$'
      pass_filenames: false

# Ferret Scan security check (from GitHub)
- repo: https://github.com/awslabs/ferret-scan
  rev: v1.3.29
  hooks:
    - id: ferret-scan

feat(coverage): use one wording for both skip messages, over both stages
  cmd/main.go
Due: go-fmt, go-vet, gosec

feat(coverage): name the skipped file types, not just the count
  internal/formatters/formatter.go
  internal/formatters/skipped_types.go
  internal/formatters/text/formatter.go
Due: go-fmt, go-vet, gosec

docs(changelog): move the entry to New Features, off #584's anchor
  CHANGELOG.md
Due: none

fix(email): cap an unrecognised TLD into the LOW band instead of -10
  internal/validators/email/tld_ceiling.go
  internal/validators/email/validator.go
Due: go-fmt, go-vet, gosec

fix(email): embed the whole IANA root zone, not 48% of it
  internal/validators/email/tlds.go
Due: go-fmt, go-vet, gosec

feat(build): detect drift between the embedded TLD snapshot and IANA
  .github/workflows/tld-snapshot.yml
  Makefile
  scripts/check-tlds.sh
Due: none

test(email): pin the ceiling band and the list's completeness
  internal/validators/email/tld_ceiling_test.go
Due: go-fmt, go-vet, gosec

docs(changelog): record the email TLD work
  CHANGELOG.md
Due: none

test(perfguard): share the CPU-time growth estimator, because two SVG guards still failed on correct code
  CHANGELOG.md
  internal/goldencorpus/README.md
  internal/goldencorpus/complexity_confirmation_test.go
  internal/goldencorpus/complexity_guard_test.go
  internal/perfguard/cputime_unix.go
  internal/perfguard/cputime_windows.go
  internal/perfguard/no_parallel.go
  internal/perfguard/perfguard.go
  internal/perfguard/perfguard_test.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg_complexity_test.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg_extraction_test.go
Due: go-fmt, go-vet, gosec

fix(passport): admit every ICAO issuing-state code, because 201 of them lost the MRZ context bypass
  CHANGELOG.md
  internal/validators/passport/issue588_country_code_test.go
  internal/validators/passport/validator.go
Due: go-fmt, go-vet, gosec

feat(rtf): extract an RTF's prose instead of its markup, so a split value is not silently missed
  CHANGELOG.md
  docs/development/text_extraction_integration.md
  internal/core/redact.go
  internal/preprocessors/README.md
  internal/preprocessors/plaintext_preprocessor.go
  internal/preprocessors/rtf_end_to_end_test.go
  internal/preprocessors/shared_utilities.go
  internal/preprocessors/text-extractors/README.md
  internal/preprocessors/text-extractors/text-extract-rtftextlib/rtf-text-extractor.go
  internal/preprocessors/text-extractors/text-extract-rtftextlib/rtf_extraction_test.go
  internal/preprocessors/text_preprocessor.go
  internal/redactors/rtf/redactor.go
  internal/redactors/rtf/redactor_test.go
Due: go-fmt, go-vet, gosec

fix(passport): stop judging a passport by its holder's name, because a vowel heuristic ran on the whole MRZ
  CHANGELOG.md
  internal/validators/passport/issue591_word_shape_test.go
  internal/validators/passport/validator.go
Due: go-fmt, go-vet, gosec

fix(socialmedia): a Make recipe prefix is not a Twitter handle, and a bare @token is not a profile URL (#584)
  CHANGELOG.md
  internal/validators/socialmedia/bare_handle_ceiling.go
  internal/validators/socialmedia/bare_handle_ceiling_test.go
  internal/validators/socialmedia/handle_syntax.go
  internal/validators/socialmedia/handle_syntax_test.go
  internal/validators/socialmedia/make_and_digest_syntax_test.go
  internal/validators/socialmedia/validator.go
Due: go-fmt, go-vet, gosec

feat(coverage): name the skipped file types, because a count is not a disclosure (#585)
  CHANGELOG.md
  cmd/main.go
  docs/COVERAGE_DISCLOSURE.md
  internal/formatters/formatter.go
  internal/formatters/skipped_types.go
  internal/formatters/skipped_types_test.go
  internal/formatters/text/formatter.go
Due: go-fmt, go-vet, gosec

fix(email): the TLD list was 48% complete, so a fake suffix outscored a real address by 50 points (#589)
  .github/workflows/tld-snapshot.yml
  CHANGELOG.md
  Makefile
  internal/validators/email/tld_ceiling.go
  internal/validators/email/tld_ceiling_test.go
  internal/validators/email/tlds.go
  internal/validators/email/validator.go
  scripts/check-tlds.sh
Due: go-fmt, go-vet, gosec

test(perfguard): share the CPU-time growth estimator, because two SVG guards still failed on correct code (#590)
  CHANGELOG.md
  internal/goldencorpus/README.md
  internal/goldencorpus/complexity_confirmation_test.go
  internal/goldencorpus/complexity_guard_test.go
  internal/perfguard/cputime_unix.go
  internal/perfguard/cputime_windows.go
  internal/perfguard/no_parallel.go
  internal/perfguard/perfguard.go
  internal/perfguard/perfguard_test.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg_complexity_test.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg_extraction_test.go
Due: go-fmt, go-vet, gosec

fix(passport): admit every ICAO issuing-state code, because 201 of them lost the MRZ context bypass (#592)
  CHANGELOG.md
  internal/validators/passport/issue588_country_code_test.go
  internal/validators/passport/validator.go
Due: go-fmt, go-vet, gosec

feat(rtf): extract an RTF's prose instead of its markup, so a split value is not silently missed (#594)
  CHANGELOG.md
  docs/development/text_extraction_integration.md
  internal/core/redact.go
  internal/preprocessors/README.md
  internal/preprocessors/plaintext_preprocessor.go
  internal/preprocessors/rtf_end_to_end_test.go
  internal/preprocessors/shared_utilities.go
  internal/preprocessors/text-extractors/README.md
  internal/preprocessors/text-extractors/text-extract-rtftextlib/rtf-text-extractor.go
  internal/preprocessors/text-extractors/text-extract-rtftextlib/rtf_extraction_test.go
  internal/preprocessors/text_preprocessor.go
  internal/redactors/rtf/redactor.go
  internal/redactors/rtf/redactor_test.go
Due: go-fmt, go-vet, gosec

fix(passport): stop judging a passport by its holder's name, because a vowel heuristic ran on the whole MRZ (#595)
  CHANGELOG.md
  internal/validators/passport/issue591_word_shape_test.go
  internal/validators/passport/validator.go
Due: go-fmt, go-vet, gosec

fix(tests): stop the coarse-clock test failing on Windows, and measure each platform's real granularity
  .github/workflows/go-test.yml
  CHANGELOG.md
  internal/perfguard/perfguard_test.go
Due: go-fmt, go-vet, gosec

fix(tests): guard the line-memo growth ratio's divisor, so a zero reading cannot report a false O(n^2)
  CHANGELOG.md
  internal/detector/line_span_complexity_test.go
Due: go-fmt, go-vet, gosec

fix(tests): stop the quadratic control measuring its own fixture overhead, so the guard detects O(n^2) on ubuntu
  CHANGELOG.md
  internal/goldencorpus/complexity_confirmation_test.go
Due: go-fmt, go-vet, gosec

ci: print the complexity guard's measured ratios on every runner (#599)
  .github/workflows/go-test.yml
Due: none

ci: drop the redundant Go module cache step, which fails every run setup-go hits
  .github/workflows/go-test.yml
Due: none

docs(changelog): record the two CI changes in this rollup
  CHANGELOG.md
Due: none

Revert "fix(tests): stop the quadratic control measuring its own fixture overhead"
  CHANGELOG.md
  internal/goldencorpus/complexity_confirmation_test.go
Due: go-fmt, go-vet, gosec

fix(tests): gate growth ratios on the MEASURED clock tick, because Windows was dividing tick counts
  CHANGELOG.md
  internal/goldencorpus/complexity_confirmation_test.go
  internal/goldencorpus/complexity_guard_test.go
  internal/perfguard/perfguard.go
  internal/perfguard/resolution.go
  internal/perfguard/resolution_test.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg_complexity_test.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg_extraction_test.go
Due: go-fmt, go-vet, gosec

fix(cli): stop pre-commit mode silencing the config-provenance disclosure (TM-13)
  CHANGELOG.md
  THREAT_MODEL.md
  cmd/config_provenance_precommit_test.go
  cmd/main.go
Due: go-fmt, go-vet, gosec

feat(rtf): redact a value split across formatting runs, via a source span map
  CHANGELOG.md
  internal/preprocessors/text-extractors/text-extract-rtftextlib/rtf-text-extractor.go
  internal/preprocessors/text-extractors/text-extract-rtftextlib/span_test.go
  internal/redactors/rtf/redactor.go
  internal/redactors/rtf/redactor_test.go
  internal/redactors/rtf/spanredact.go
  internal/redactors/rtf/spanredact_test.go
Due: go-fmt, go-vet, gosec

diag: sample machine memory during the ubuntu suite to find the SIGTERM cause
  .github/workflows/go-test.yml
Due: none

fix(ci): stop running the complexity guards under -race, which OOM-killed ubuntu-latest
  .github/workflows/go-test.yml
  CHANGELOG.md
  internal/goldencorpus/complexity_guard_test.go
  internal/perfguard/perfguard.go
Due: go-fmt, go-vet, gosec

perf(socialmedia): compile the validator's regexes once, not once per match
  CHANGELOG.md
  internal/validators/socialmedia/compiled_patterns_test.go
  internal/validators/socialmedia/validator.go
Due: go-fmt, go-vet, gosec

build(deps): bump golang.org/x/crypto to v0.57.0, and let Dependabot see the indirect dependencies where the CVEs actually are
  .github/dependabot.yml
  CHANGELOG.md
  go.mod
  go.sum
Due: go-version-check, go-mod-tidy
