Repository awslabs/ferret-scan: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version-check, go-fmt, go-vet, go-mod-tidy, gosec

.pre-commit-config.yaml:

# Pre-commit configuration for Ferret Scan
# To test: make test-precommit
# To customize: See .pre-commit-config-examples.yaml for different configurations
#
# Current config: Simple approach using script defaults
# - Scans for: HIGH confidence findings only
# - Fails on: HIGH confidence findings only
# - Format: text output, no color, quiet mode
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=102400']  # 100MB = 102400KB
  - id: check-json
  - id: check-yaml
  - id: debug-statements
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: name-tests-test
  - id: no-commit-to-branch
    args: ['--branch', 'main', '--branch', 'master']
  - id: requirements-txt-fixer
  - id: trailing-whitespace

# Go version consistency check
- repo: local
  hooks:
    - id: go-version-check
      name: Check Go version consistency
      entry: ./scripts/go-version.sh
      args: [check]
      language: script
      files: '^(go\.mod|\.go-version|\.gitlab-ci\.yml|Dockerfile)$'
      pass_filenames: false

# Go formatting
- repo: local
  hooks:
    - id: go-fmt
      name: Go Format
      entry: gofmt
      args: [-w]
      language: golang
      files: '\.go$'

# Go vet
- repo: local
  hooks:
    - id: go-vet
      name: Go Vet
      entry: go
      args: [vet, ./...]
      language: golang
      files: '\.go$'
      pass_filenames: false

# Go mod tidy
- repo: local
  hooks:
    - id: go-mod-tidy
      name: Go Mod Tidy
      entry: go
      args: [mod, tidy]
      language: golang
      files: '^go\.(mod|sum)$'
      pass_filenames: false

# Gosec security scanner (high severity only)
- repo: local
  hooks:
    - id: gosec
      name: Gosec Security Scanner
      entry: gosec
      args: [-severity, high, -quiet, ./...]
      language: golang
      files: '\.go$'
      pass_filenames: false

# Ferret Scan security check (from GitHub)
- repo: https://github.com/awslabs/ferret-scan
  rev: v1.3.29
  hooks:
    - id: ferret-scan

feat(security): web hardening + threat-model fixes + repo hygiene
  .gitignore
  .gitlab-ci.yml
  .go-version
  .pre-commit-config-examples.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  Dockerfile
  README.md
  THREAT_MODEL.md
  cmd/main.go
  docs/PRE_COMMIT_INTEGRATION.md
  docs/configuration.md
  docs/deployment/GITLAB_SECURITY_SCANNER_PRODUCTION.md
  docs/user-guides/README-Enhanced-Metadata.md
  internal/config/config.go
  internal/formatters/gitlab-sast/mapper.go
  internal/formatters/gitlab-sast/sanitizer.go
  internal/help/help.go
  internal/parallel/validator_runner_test.go
  internal/preprocessors/meta-extractors/meta-extract-videolib/video-extractor.go
  internal/redactors/output_manager.go
  internal/redactors/output_manager_test.go
  internal/redactors/pdf/redactor.go
  internal/redactors/plaintext/redactor.go
  internal/redactors/plaintext/similarity_test.go
  internal/redactors/replacement/replacement.go
  internal/redactors/strategies/format_preserving.go
  internal/redactors/strategies/simple.go
  internal/redactors/validation/recovery.go
  internal/resilience/retry.go
  internal/validators/intellectualproperty/validator.go
  internal/validators/metadata/metadata_validator.go
  internal/validators/secrets/validator.go
  internal/web/assets/template.html
  internal/web/security.go
  internal/web/security_test.go
  internal/web/server.go
  licensecheck.toml
  scripts/create-release.sh
Due: go-version-check, go-fmt, go-vet, gosec

chore: remove battle-card competitive comparison
  README.md
  docs/README.md
Due: none

chore: remove battle-card competitive comparison
  README.md
  docs/README.md
  docs/battle-card.md
Due: none

fix(config): fail fast on bad --config; replace IP MustCompile with Compile
  cmd/main.go
  docs/configuration.md
  examples/ferret.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/formatters/text/formatter.go
  internal/validators/intellectualproperty/README.md
  internal/validators/intellectualproperty/help.go
  internal/validators/intellectualproperty/validator.go
  internal/validators/intellectualproperty/validator_test.go
  internal/web/server.go
Due: go-fmt, go-vet, gosec

feat(pkg/redact): public API for in-process scan + redact
  pkg/redact/doc.go
  pkg/redact/engine.go
  pkg/redact/engine_test.go
  pkg/redact/types.go
Due: go-fmt, go-vet, gosec

feat(core): configurable LogWriter on ScanConfig + ContentScanConfig
  docs/development/WINDOWS_DEVELOPMENT.md
  docs/development/creating_validators.md
  docs/user-guides/README-Stdin.md
  internal/core/scanner.go
  internal/core/scanner_test.go
Due: go-fmt, go-vet, gosec

refactor(pkg/redact): remove unused sync.Pool, document brand-alias TODO
  pkg/redact/engine.go
  pkg/redact/types.go
Due: go-fmt, go-vet, gosec

docs(examples): add lambda-redact reference handler
  examples/lambda-redact/README.md
  examples/lambda-redact/handler.go
Due: go-fmt, go-vet, gosec

docs: remove internal-only references from public comments and docs
  examples/lambda-redact/README.md
  examples/lambda-redact/handler.go
  internal/core/scanner.go
  pkg/redact/doc.go
  pkg/redact/engine_test.go
  pkg/redact/types.go
Due: go-fmt, go-vet, gosec

feat(examples/lambda-redact): convert from build-tagged skeleton to deployable Go submodule
  .github/workflows/go-test.yml
  .pre-commit-config.yaml
  examples/lambda-redact/.gitignore
  examples/lambda-redact/Makefile
  examples/lambda-redact/README.md
  examples/lambda-redact/go.mod
  examples/lambda-redact/go.sum
  examples/lambda-redact/handler.go
  examples/lambda-redact/handler_test.go
Due: go-fmt, go-vet, gosec

fixup(examples/lambda-redact): three small post-review fixes
  .github/workflows/go-test.yml
  examples/lambda-redact/README.md
  examples/lambda-redact/handler.go
Due: go-fmt, go-vet, gosec

feat(examples/lambda-redact): Terraform stack + smoke contract tests + strategy-leak fix
  .github/workflows/terraform-validate.yml
  examples/lambda-redact/Makefile
  examples/lambda-redact/README.md
  examples/lambda-redact/handler.go
  examples/lambda-redact/handler_test.go
  examples/lambda-redact/terraform/.gitignore
  examples/lambda-redact/terraform/README.md
  examples/lambda-redact/terraform/main.tf
  examples/lambda-redact/terraform/outputs.tf
  examples/lambda-redact/terraform/terraform.tfvars.example
  examples/lambda-redact/terraform/variables.tf
  examples/lambda-redact/terraform/versions.tf
Due: go-fmt, go-vet, gosec

fixup(examples/lambda-redact): tighten IAM scoping (3 follow-up improvements)
  examples/lambda-redact/terraform/README.md
  examples/lambda-redact/terraform/main.tf
Due: none

chore: align Go dependencies, upgrade aws-lambda-go, fix golang.org/x/image WEBP CVE
  examples/lambda-redact/go.mod
  examples/lambda-redact/go.sum
  go.mod
  go.sum
Due: go-version-check, go-mod-tidy

chore(ci): SHA-pin all GitHub Actions
  .github/workflows/build-shared.yml
  .github/workflows/docker-multiarch.yml
  .github/workflows/ferret-scan.yml
  .github/workflows/go-test.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/python-package.yml
  .github/workflows/release.yml
Due: none

chore(ci): bump 9 actions to current major versions
  .github/workflows/docker-multiarch.yml
  .github/workflows/python-package.yml
  .github/workflows/release.yml
Due: none

chore(deps): refresh Go module dependencies
  go.mod
  go.sum
Due: go-version-check, go-mod-tidy

chore(ci): add dependabot config + workflow conventions doc
  .github/dependabot.yml
  .github/workflows/README.md
Due: none

docs(threat-model): add TB-8 supply chain trust boundary (CI/CD)
  THREAT_MODEL.md
Due: none

chore(ci): fix .gitlab-ci.yml parse error and add release-tag approval gate
  .ferret-scan-suppressions.yaml
  .gitlab-ci.yml
Due: go-version-check

chore(docker): pin builder image to digest + document GOPROXY=direct
  Dockerfile
Due: go-version-check

docs(threat-model): mark TM-09 and TM-10 as in-progress
  THREAT_MODEL.md
Due: none

fix(ci): authenticate to GHCR before grype scan in security-scan job
  .github/workflows/docker-multiarch.yml
Due: none

feat(redact): export ValidCheckNames so callers can fail-closed on bad Checks
  CHANGELOG.md
  docs/user-guides/README-Stdin.md
  examples/lambda-redact/README.md
  examples/lambda-redact/handler.go
  internal/core/factory.go
  internal/core/scanner.go
  pkg/redact/engine.go
  pkg/redact/engine_test.go
Due: go-fmt, go-vet, gosec

chore(go): bump toolchain to 1.26.4 to fix 3 stdlib CVEs
  .go-version
Due: go-version-check

chore(go): propagate 1.26.4 bump to Docker + GitLab CI builds
  .gitlab-ci.yml
  Dockerfile
  docs/GO_VERSION_MANAGEMENT.md
Due: go-version-check

fix(tooling): make .go-version the working single source of truth
  Makefile
  docs/GO_VERSION_MANAGEMENT.md
  scripts/go-version.sh
  scripts/sync-versions.sh
Due: none

fix(ci): stop publishing ferret-scan PII findings to the Security tab
  .github/workflows/ferret-scan.yml
Due: none

fix(redactors): stop false-success redaction and PII leak in JSON/YAML output
  .pre-commit-config.yaml
  internal/formatters/shared/structures.go
  internal/formatters/shared/structures_test.go
  internal/redactors/image/redactor.go
  internal/redactors/image/redactor_failsafe_test.go
  internal/redactors/pdf/redactor.go
  internal/redactors/pdf/redactor_failsafe_test.go
Due: go-fmt, go-vet, gosec

feat(explain): add offline finding-explainability foundation (Phase 1a)
  docs/proposals/AI_ENHANCEMENT_FERRET_EXPLAIN.md
  internal/detector/detector.go
  internal/explain/explain.go
  internal/explain/synthesizer.go
  internal/explain/synthesizer_test.go
Due: go-fmt, go-vet, gosec

feat(explain): wire --explain into the scan pipeline and output (Phase 1b)
  cmd/main.go
  internal/core/scanner.go
  internal/explain/synthesizer.go
  internal/formatters/text/formatter.go
  internal/help/help.go
Due: go-fmt, go-vet, gosec

fix(passport): detect standard ICAO MRZ lines (were never matched)
  internal/validators/passport/validator.go
  internal/validators/passport/validator_test.go
Due: go-fmt, go-vet, gosec

feat(explain): make explanations first-class across JSON/YAML/SARIF/gitlab-sast (Phase 2)
  internal/formatters/gitlab-sast/explanation_test.go
  internal/formatters/gitlab-sast/sanitizer.go
  internal/formatters/sarif/explanation_test.go
  internal/formatters/sarif/mapper.go
  internal/formatters/shared/explanation_test.go
  internal/formatters/shared/structures.go
Due: go-fmt, go-vet, gosec

feat(explain): draft per-finding suppression reasons + docs (Phase 2 complete)
  CHANGELOG.md
  README.md
  cmd/main.go
  docs/proposals/AI_ENHANCEMENT_FERRET_EXPLAIN.md
  internal/suppressions/suppression.go
  internal/suppressions/suppression_test.go
Due: go-fmt, go-vet, gosec

feat(explain): prefill the web "Add Suppression" reason from --explain (Phase 2 follow-up)
  docs/proposals/AI_ENHANCEMENT_FERRET_EXPLAIN.md
  internal/suppressions/suppression_test.go
  internal/web/assets/template.html
  internal/web/server.go
Due: go-fmt, go-vet, gosec

fix(creditcard): recover adjacent/13/19-digit PANs, =/: delimiters, relax repeat cap
  internal/validators/creditcard/validator.go
  internal/validators/creditcard/validator_test.go
Due: go-fmt, go-vet, gosec

fix(email): stop zeroing delegated TLDs, word-boundary keywords, per-occurrence context
  internal/validators/email/validator.go
  internal/validators/email/validator_test.go
Due: go-fmt, go-vet, gosec

fix(ipaddress): match compressed IPv6, filter zero-padded doc range, gate bare tuples
  internal/validators/ipaddress/validator.go
  internal/validators/ipaddress/validator_test.go
Due: go-fmt, go-vet, gosec

fix(vin): detect lowercase/mixed-case VINs, word-boundary context keywords
  internal/validators/vin/validator.go
  internal/validators/vin/validator_test.go
Due: go-fmt, go-vet, gosec
