Repository awslabs/ferret-scan: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version-check, go-fmt, go-vet, go-mod-tidy, gosec

.pre-commit-config.yaml:

# Pre-commit configuration for Ferret Scan
# To test: make test-precommit
# To customize: See .pre-commit-config-examples.yaml for different configurations
#
# Current config: Simple approach using script defaults
# - Scans for: HIGH confidence findings only
# - Fails on: HIGH confidence findings only
# - Format: text output, no color, quiet mode
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=102400']  # 100MB = 102400KB
  - id: check-json
  - id: check-yaml
  - id: debug-statements
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: name-tests-test
  - id: no-commit-to-branch
    args: ['--branch', 'main', '--branch', 'master']
  - id: requirements-txt-fixer
  - id: trailing-whitespace

# Go version consistency check
- repo: local
  hooks:
    - id: go-version-check
      name: Check Go version consistency
      entry: ./scripts/go-version.sh
      args: [check]
      language: script
      files: '^(go\.mod|\.go-version|\.gitlab-ci\.yml|Dockerfile)$'
      pass_filenames: false

# Go formatting
- repo: local
  hooks:
    - id: go-fmt
      name: Go Format
      entry: gofmt
      args: [-w]
      language: golang
      files: '\.go$'

# Go vet
- repo: local
  hooks:
    - id: go-vet
      name: Go Vet
      entry: go
      args: [vet, ./...]
      language: golang
      files: '\.go$'
      pass_filenames: false

# Go mod tidy
- repo: local
  hooks:
    - id: go-mod-tidy
      name: Go Mod Tidy
      entry: go
      args: [mod, tidy]
      language: golang
      files: '^go\.(mod|sum)$'
      pass_filenames: false

# Gosec security scanner (high severity only)
- repo: local
  hooks:
    - id: gosec
      name: Gosec Security Scanner
      entry: gosec
      args: [-severity, high, -quiet, ./...]
      language: golang
      files: '\.go$'
      pass_filenames: false

# Ferret Scan security check (from GitHub)
- repo: https://github.com/awslabs/ferret-scan
  rev: v1.3.29
  hooks:
    - id: ferret-scan

fix(formatters,cli): escape control bytes in the disclosure channel, verbose colour output and preprocess-only (#550)
  CHANGELOG.md
  cmd/display_sink_escaping_test.go
  cmd/main.go
  cmd/unscanned_report.go
  internal/displaytext/displaytext.go
  internal/displaytext/displaytext_bench_test.go
  internal/displaytext/displaytext_test.go
  internal/displaytext/leaf_package_test.go
  internal/formatters/csv/formatter.go
  internal/formatters/gitlab-sast/sanitizer.go
  internal/formatters/text/formatter.go
  internal/formatters/text/hostile_filename_test.go
  internal/formatters/unredacted.go
Due: go-fmt, go-vet, gosec

fix(ipaddress,tabular): resolve a camelCase column header, and publish the ambiguity ceiling whenever it applies (#551)
  CHANGELOG.md
  docs/proposals/CONFIDENCE_CONTRACT.md
  internal/tabular/normalize_header_test.go
  internal/tabular/tabular.go
  internal/validators/ipaddress/header_spelling_and_ceiling_test.go
  internal/validators/ipaddress/validator.go
Due: go-fmt, go-vet, gosec

fix(medicalid): report which checks a medical identifier passed (#552)
  CHANGELOG.md
  docs/validators-new.md
  internal/explain/medical_check_prose_test.go
  internal/explain/synthesizer.go
  internal/goldencorpus/testdata/golden/context_soft_negative_labels.json.json
  internal/goldencorpus/testdata/golden/context_soft_negative_labels.sarif.json
  internal/goldencorpus/testdata/golden/context_soft_negative_labels.yaml
  internal/goldencorpus/testdata/golden/keyword_separator_forms.json.json
  internal/goldencorpus/testdata/golden/keyword_separator_forms.sarif.json
  internal/goldencorpus/testdata/golden/keyword_separator_forms.yaml
  internal/goldencorpus/testdata/golden/medical_hex_member_ids.json.json
  internal/goldencorpus/testdata/golden/medical_hex_member_ids.sarif.json
  internal/goldencorpus/testdata/golden/medical_hex_member_ids.yaml
  internal/goldencorpus/testdata/golden/medical_long_form_labels.json.json
  internal/goldencorpus/testdata/golden/medical_long_form_labels.sarif.json
  internal/goldencorpus/testdata/golden/medical_long_form_labels.yaml
  internal/goldencorpus/testdata/golden/new_validators_decoys.json.json
  internal/goldencorpus/testdata/golden/new_validators_decoys.sarif.json
  internal/goldencorpus/testdata/golden/new_validators_decoys.yaml
  internal/goldencorpus/testdata/golden/new_validators_display_formats.json.json
  internal/goldencorpus/testdata/golden/new_validators_display_formats.sarif.json
  internal/goldencorpus/testdata/golden/new_validators_display_formats.yaml
  internal/validators/explain_rationale_test.go
  internal/validators/medicalid/validation_checks_test.go
  internal/validators/medicalid/validator.go
Due: go-fmt, go-vet, gosec

fix(driverslicense): report a licence whose label is camelCase (#554)
  CHANGELOG.md
  docs/validators-new.md
  internal/validators/driverslicense/camelcase_label_test.go
  internal/validators/driverslicense/validator.go
  internal/validators/kwmatch/concatenated_label_test.go
  internal/validators/kwmatch/fieldlabel.go
Due: go-fmt, go-vet, gosec

docs(content routing): delete an unfollowable guide and correct what it linked to (#557)
  CHANGELOG.md
  cmd/documented_flags_test.go
  docs/README.md
  docs/TEAM_SETUP_GUIDE.md
  docs/deployment/enhanced-architecture-deployment.md
  docs/development/content-router-architecture.md
  docs/development/content-routing-troubleshooting.md
  docs/development/debug_logging.md
  docs/development/enhanced-metadata-validation.md
  docs/user-guides/README-Enhanced-Metadata.md
Due: go-fmt, go-vet, gosec

fix(driverslicense): score a licence label the same in every convention (#558)
  CHANGELOG.md
  docs/validators-new.md
  internal/validators/driverslicense/label_convention_test.go
  internal/validators/driverslicense/validator.go
Due: go-fmt, go-vet, gosec

docs(windows): stop documenting a subcommand that silently drops every flag (#559)
  CHANGELOG.md
  cmd/documented_invocations_test.go
  docs/WINDOWS_INSTALLATION.md
  docs/development/WINDOWS_CROSS_COMPILATION.md
  docs/development/WINDOWS_DEVELOPMENT.md
  docs/troubleshooting/WINDOWS_TROUBLESHOOTING.md
  docs/user-guides/README-Windows-Usage.md
Due: go-fmt, go-vet, gosec

docs(troubleshooting): delete an orphaned runbook whose every diagnostic step is unrunnable
  cmd/documented_flags_test.go
  cmd/documented_invocations_test.go
  docs/troubleshooting/enhanced-architecture-runbook.md
Due: go-fmt, go-vet, gosec

docs(file router): fix both broken commands in the debug block, not just the visible one
  cmd/documented_flags_test.go
  docs/development/file-router-metadata-capabilities.md
Due: go-fmt, go-vet, gosec

test(docs): guard the other rc=2 — a value-taking flag documented with no value
  cmd/documented_flag_values_test.go
  docs/upstream-asks.md
Due: go-fmt, go-vet, gosec

docs(pre-commit): replace FERRET_FAIL_ON with the variable that actually gates the commit
  docs/INSTALLATION.md
  docs/TEAM_SETUP_GUIDE.md
Due: none

fix(secrets): demote AWS documentation placeholders to LOW and make the cap stick
  internal/validators/confidence_ceiling_test.go
  internal/validators/secrets/aws_doc_placeholder_test.go
  internal/validators/secrets/validator.go
Due: go-fmt, go-vet, gosec

fix(docker): stop shipping FERRET_QUIET_MODE enabled — nothing reads it
  Dockerfile
  docker-compose.yml
  docs/DOCKER_INTEGRATION.md
  docs/user-guides/README-Docker.md
Due: go-version-check

refactor(position): delete a correlation method that could never be returned
  internal/redactors/position/correlator.go
  internal/redactors/position/fuzzy.go
Due: go-fmt, go-vet, gosec

test(position): pin the correlation method inventory and both live paths
  internal/redactors/position/contextual_unreachable_test.go
Due: go-fmt, go-vet, gosec

docs(confidence): write down the suppress-vs-demote rule the code already follows
  docs/proposals/CONFIDENCE_CONTRACT.md
  internal/validators/secrets/README.md
Due: none

test(golden): re-lock golden after demoting the AWS documentation placeholders
  internal/goldencorpus/testdata/golden/file_source_code_secrets.csv
  internal/goldencorpus/testdata/golden/file_source_code_secrets.gitlab-sast.json
  internal/goldencorpus/testdata/golden/file_source_code_secrets.json.json
  internal/goldencorpus/testdata/golden/file_source_code_secrets.junit.xml
  internal/goldencorpus/testdata/golden/file_source_code_secrets.sarif.json
  internal/goldencorpus/testdata/golden/file_source_code_secrets.txt
  internal/goldencorpus/testdata/golden/file_source_code_secrets.yaml
  internal/goldencorpus/testdata/golden/file_txt_mixed_pii.csv
  internal/goldencorpus/testdata/golden/file_txt_mixed_pii.gitlab-sast.json
  internal/goldencorpus/testdata/golden/file_txt_mixed_pii.json.json
  internal/goldencorpus/testdata/golden/file_txt_mixed_pii.junit.xml
  internal/goldencorpus/testdata/golden/file_txt_mixed_pii.sarif.json
  internal/goldencorpus/testdata/golden/file_txt_mixed_pii.txt
  internal/goldencorpus/testdata/golden/file_txt_mixed_pii.yaml
  internal/goldencorpus/testdata/golden/file_wav_metadata_pii.csv
  internal/goldencorpus/testdata/golden/file_wav_metadata_pii.gitlab-sast.json
  internal/goldencorpus/testdata/golden/file_wav_metadata_pii.json.json
  internal/goldencorpus/testdata/golden/file_wav_metadata_pii.junit.xml
  internal/goldencorpus/testdata/golden/file_wav_metadata_pii.sarif.json
  internal/goldencorpus/testdata/golden/file_wav_metadata_pii.txt
  internal/goldencorpus/testdata/golden/file_wav_metadata_pii.yaml
  internal/goldencorpus/testdata/golden/mixed_pii_basic.csv
  internal/goldencorpus/testdata/golden/mixed_pii_basic.gitlab-sast.json
  internal/goldencorpus/testdata/golden/mixed_pii_basic.json.json
  internal/goldencorpus/testdata/golden/mixed_pii_basic.junit.xml
  internal/goldencorpus/testdata/golden/mixed_pii_basic.redact_format_preserving.txt
  internal/goldencorpus/testdata/golden/mixed_pii_basic.redact_simple.txt
  internal/goldencorpus/testdata/golden/mixed_pii_basic.sarif.json
  internal/goldencorpus/testdata/golden/mixed_pii_basic.txt
  internal/goldencorpus/testdata/golden/mixed_pii_basic.yaml
  internal/goldencorpus/testdata/golden/secrets_aws.csv
  internal/goldencorpus/testdata/golden/secrets_aws.gitlab-sast.json
  internal/goldencorpus/testdata/golden/secrets_aws.json.json
  internal/goldencorpus/testdata/golden/secrets_aws.junit.xml
  internal/goldencorpus/testdata/golden/secrets_aws.redact_format_preserving.txt
  internal/goldencorpus/testdata/golden/secrets_aws.redact_simple.txt
  internal/goldencorpus/testdata/golden/secrets_aws.sarif.json
  internal/goldencorpus/testdata/golden/secrets_aws.txt
  internal/goldencorpus/testdata/golden/secrets_aws.yaml
  pkg/scan/testdata/golden/aws_key.scan.txt
Due: none

docs(env): remove eight FERRET_* variables nothing reads, and correct two more
  docs/WINDOWS_INSTALLATION.md
  docs/deployment/GITLAB_CI_SETUP.md
  docs/development/WINDOWS_DEVELOPMENT.md
  docs/development/debug_logging.md
Due: none

test(scorecorpus): re-lock the SECRETS band floor for the demoted AWS placeholder
  internal/scorecorpus/cases_multicheck.go
  internal/scorecorpus/fixture_credentials.go
  internal/scorecorpus/testdata/baseline.json
Due: go-fmt, go-vet, gosec

test(docs): guard FERRET_* variables without pressuring anyone to delete true prose
  cmd/documented_env_vars_test.go
  docs/user-guides/README-Docker.md
Due: go-fmt, go-vet, gosec

docs(confidence): correct the suppression-hash consequence -- measured, not assumed
  docs/proposals/CONFIDENCE_CONTRACT.md
Due: none

docs(review): correct the temp_dir example, narrow the guard, drop the wrapper
  CHANGELOG.md
  cmd/documented_env_vars_test.go
  cmd/documented_invocations_test.go
  docs/INSTALL.md
  docs/INSTALLATION.md
  docs/UNINSTALL.md
  docs/WINDOWS_INSTALLATION.md
Due: go-fmt, go-vet, gosec

docs(review): correct three claims in the new §7c material
  CHANGELOG.md
  docs/proposals/CONFIDENCE_CONTRACT.md
  internal/validators/secrets/validator.go
Due: go-fmt, go-vet, gosec

docs(changelog): record the contextual-correlation deletion
  CHANGELOG.md
Due: none

test(complexity): stop the quadratic control failing on a cold measurement
  CHANGELOG.md
  internal/goldencorpus/complexity_confirmation_test.go
Due: go-fmt, go-vet, gosec

fix(scan): decide path traversal by segment, not by substring
  cmd/path_traversal.go
  cmd/path_traversal_test.go
Due: go-fmt, go-vet, gosec

fix(scan): scan a file whose name contains "..", and disclose the refusals that remain
  cmd/dotdot_name_scanned_test.go
  cmd/main.go
  cmd/unscanned_report.go
  internal/formatters/notexamined.go
Due: go-fmt, go-vet, gosec

fix(cli): stop refusing an --output filename that merely contains ".."
  cmd/main.go
  cmd/stdin.go
Due: go-fmt, go-vet, gosec

fix(redaction): keep two redacted outputs distinct when a name contains ".."
  internal/redactors/output_manager.go
  internal/redactors/output_path_dotdot_test.go
Due: go-fmt, go-vet, gosec

docs(coverage): document the eighth not-examined cause, and correct the count
  docs/COVERAGE_DISCLOSURE.md
Due: none

fix(gitlab-sast): stop dropping a finding whose filename contains ".."
  cmd/output_path_two_dots_test.go
  internal/formatters/gitlab-sast/climbing_segment_test.go
  internal/formatters/gitlab-sast/validator.go
Due: go-fmt, go-vet, gosec

chore(install): keep the legacy wrapper cleanup, stop calling its absence a fault
  scripts/install-system.sh
Due: none

chore(make): delete the dead precommit-wrapper branch and its false install claim
  Makefile
Due: none

docs(changelog): record the dead precommit-wrapper removal
  CHANGELOG.md
Due: none

docs(changelog): record the path-segment fix and the two defects it exposed
  CHANGELOG.md
Due: none

refactor(position): delete a correlation method that could never be returned (#565)
  CHANGELOG.md
  internal/redactors/position/contextual_unreachable_test.go
  internal/redactors/position/correlator.go
  internal/redactors/position/fuzzy.go
Due: go-fmt, go-vet, gosec

docs(env, flags): delete an orphaned runbook and stop advertising 14 unread FERRET_* variables (#567)
  CHANGELOG.md
  Dockerfile
  cmd/documented_env_vars_test.go
  cmd/documented_flag_values_test.go
  cmd/documented_flags_test.go
  cmd/documented_invocations_test.go
  docker-compose.yml
  docs/DOCKER_INTEGRATION.md
  docs/INSTALL.md
  docs/INSTALLATION.md
  docs/TEAM_SETUP_GUIDE.md
  docs/UNINSTALL.md
  docs/WINDOWS_INSTALLATION.md
  docs/deployment/GITLAB_CI_SETUP.md
  docs/development/WINDOWS_DEVELOPMENT.md
  docs/development/debug_logging.md
  docs/development/file-router-metadata-capabilities.md
  docs/troubleshooting/enhanced-architecture-runbook.md
  docs/upstream-asks.md
  docs/user-guides/README-Docker.md
Due: go-version-check, go-fmt, go-vet, gosec

test(complexity): stop the quadratic control failing on a cold measurement (#568)
  CHANGELOG.md
  internal/goldencorpus/complexity_confirmation_test.go
Due: go-fmt, go-vet, gosec

fix(scan, gitlab-sast, redaction): scan a file whose name contains "..", and disclose what is refused (#569)
  CHANGELOG.md
  cmd/dotdot_name_scanned_test.go
  cmd/main.go
  cmd/output_path_two_dots_test.go
  cmd/path_traversal.go
  cmd/path_traversal_test.go
  cmd/stdin.go
  cmd/unscanned_report.go
  docs/COVERAGE_DISCLOSURE.md
  internal/formatters/gitlab-sast/climbing_segment_test.go
  internal/formatters/gitlab-sast/validator.go
  internal/formatters/notexamined.go
  internal/redactors/output_manager.go
  internal/redactors/output_path_dotdot_test.go
Due: go-fmt, go-vet, gosec
