Repository awslabs/ferret-scan: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version-check, go-fmt, go-vet, go-mod-tidy, gosec

.pre-commit-config.yaml:

# Pre-commit configuration for Ferret Scan
# To test: make test-precommit
# To customize: See .pre-commit-config-examples.yaml for different configurations
#
# Current config: Simple approach using script defaults
# - Scans for: HIGH confidence findings only
# - Fails on: HIGH confidence findings only
# - Format: text output, no color, quiet mode
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=102400']  # 100MB = 102400KB
  - id: check-json
  - id: check-yaml
  - id: debug-statements
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: name-tests-test
  - id: no-commit-to-branch
    args: ['--branch', 'main', '--branch', 'master']
  - id: requirements-txt-fixer
  - id: trailing-whitespace

# Go version consistency check
- repo: local
  hooks:
    - id: go-version-check
      name: Check Go version consistency
      entry: ./scripts/go-version.sh
      args: [check]
      language: script
      files: '^(go\.mod|\.go-version|\.gitlab-ci\.yml|Dockerfile)$'
      pass_filenames: false

# Go formatting
- repo: local
  hooks:
    - id: go-fmt
      name: Go Format
      entry: gofmt
      args: [-w]
      language: golang
      files: '\.go$'

# Go vet
- repo: local
  hooks:
    - id: go-vet
      name: Go Vet
      entry: go
      args: [vet, ./...]
      language: golang
      files: '\.go$'
      pass_filenames: false

# Go mod tidy
- repo: local
  hooks:
    - id: go-mod-tidy
      name: Go Mod Tidy
      entry: go
      args: [mod, tidy]
      language: golang
      files: '^go\.(mod|sum)$'
      pass_filenames: false

# Gosec security scanner (high severity only)
- repo: local
  hooks:
    - id: gosec
      name: Gosec Security Scanner
      entry: gosec
      args: [-severity, high, -quiet, ./...]
      language: golang
      files: '\.go$'
      pass_filenames: false

# Ferret Scan security check (from GitHub)
- repo: https://github.com/awslabs/ferret-scan
  rev: v1.3.29
  hooks:
    - id: ferret-scan

docs(v2): truth-up proposal status — add authoritative Status Ledger
  docs/proposals/V2_ARCHITECTURE.md
Due: none

feat(v2-refactor): cooperative cancellation in SSN/IP/phone validator line loops
  internal/execguard/linebudget.go
  internal/validators/ipaddress/ctx_cancel_test.go
  internal/validators/ipaddress/validator.go
  internal/validators/phone/ctx_cancel_test.go
  internal/validators/phone/validator.go
  internal/validators/ssn/ctx_cancel_test.go
  internal/validators/ssn/validator.go
Due: go-fmt, go-vet, gosec

docs(v2-refactor): record Phase 3 slice 1 (per-line ctx polling) as landed
  docs/proposals/V2_ARCHITECTURE.md
Due: none

fix(dos): cloudresources O(n^2) per-match negative-keyword rescan on single-line input
  internal/goldencorpus/corpus.go
  internal/goldencorpus/testdata/golden/cloud_resources_test_context.csv
  internal/goldencorpus/testdata/golden/cloud_resources_test_context.gitlab-sast.json
  internal/goldencorpus/testdata/golden/cloud_resources_test_context.json.json
  internal/goldencorpus/testdata/golden/cloud_resources_test_context.junit.xml
  internal/goldencorpus/testdata/golden/cloud_resources_test_context.redact_format_preserving.txt
  internal/goldencorpus/testdata/golden/cloud_resources_test_context.redact_simple.txt
  internal/goldencorpus/testdata/golden/cloud_resources_test_context.sarif.json
  internal/goldencorpus/testdata/golden/cloud_resources_test_context.txt
  internal/goldencorpus/testdata/golden/cloud_resources_test_context.yaml
  internal/validators/cloudresources/cloudresources.go
  internal/validators/cloudresources/race_off_test.go
  internal/validators/cloudresources/race_on_test.go
  internal/validators/cloudresources/validator_timing_test.go
Due: go-fmt, go-vet, gosec

feat(v2-refactor): cooperative cancellation in the remaining 7 line-loop validators
  internal/validators/creditcard/ctx_cancel_test.go
  internal/validators/creditcard/validator.go
  internal/validators/email/ctx_cancel_test.go
  internal/validators/email/validator.go
  internal/validators/intellectualproperty/ctx_cancel_test.go
  internal/validators/intellectualproperty/validator.go
  internal/validators/passport/ctx_cancel_test.go
  internal/validators/passport/validator.go
  internal/validators/personname/ctx_cancel_test.go
  internal/validators/personname/validator.go
  internal/validators/socialmedia/ctx_cancel_test.go
  internal/validators/socialmedia/validator.go
  internal/validators/vin/ctx_cancel_test.go
  internal/validators/vin/validator.go
Due: go-fmt, go-vet, gosec

chore(deps): bump golang.org/x/image to v0.43.0 (fix 6 CVEs)
  go.mod
  go.sum
Due: go-version-check, go-mod-tidy

feat(v2-refactor): warn on incomplete scan coverage in the CLI (Phase 4)
  cmd/incomplete_warning_test.go
  cmd/main.go
  cmd/stdin.go
Due: go-fmt, go-vet, gosec

feat(v2-refactor): surface incomplete scan coverage in the web UI (Phase 4)
  internal/web/assets/template.html
  internal/web/incomplete_response_test.go
  internal/web/server.go
Due: go-fmt, go-vet, gosec

feat(v2-refactor): --fail-on-incomplete flag + fail_on_incomplete config (Phase 4)
  README.md
  cmd/fail_on_incomplete_config_test.go
  cmd/incomplete_warning_test.go
  cmd/main.go
  cmd/stdin.go
  config.yaml
  docs/PRE_COMMIT_INTEGRATION.md
  docs/configuration.md
  examples/ferret.yaml
  internal/config/config.go
  internal/help/help.go
Due: go-fmt, go-vet, gosec

feat(v2-refactor): cooperative cancellation in secrets + cloudresources validators
  internal/validators/cloudresources/cloudresources.go
  internal/validators/cloudresources/ctx_cancel_test.go
  internal/validators/cloudresources/race_off_test.go
  internal/validators/cloudresources/race_on_test.go
  internal/validators/secrets/ctx_cancel_test.go
  internal/validators/secrets/validator.go
Due: go-fmt, go-vet, gosec

feat(v2-refactor): per-validator time + match budgets at the execguard chokepoint (Move C)
  internal/core/scanner.go
  internal/execguard/budget.go
  internal/execguard/budget_test.go
  internal/execguard/execguard.go
  internal/parallel/validator_runner.go
  internal/parallel/worker_pool.go
  internal/validators/detector.go
  internal/validators/dual_path_bridge.go
  internal/validators/execguard_e2e_test.go
Due: go-fmt, go-vet, gosec

feat(v2-refactor): --validator-budget CLI flag for per-validator time limits
  cmd/incomplete_warning_test.go
  cmd/main.go
  cmd/stdin.go
  cmd/validator_budget.go
  cmd/validator_budget_test.go
  internal/help/help.go
Due: go-fmt, go-vet, gosec

docs(v2-refactor): document --validator-budget in README + configuration.md
  README.md
  docs/configuration.md
Due: none

chore(v2-refactor): excise verified dead code (~5.6K LOC across 14 files)
  internal/monitoring/debug_logger.go
  internal/monitoring/enhanced_alerting.go
  internal/monitoring/health_checker.go
  internal/monitoring/monitoring_integration.go
  internal/preprocessors/performance_optimizer.go
  internal/preprocessors/streaming_processor.go
  internal/redactors/strategies/format_preserving.go
  internal/redactors/strategies/simple.go
  internal/redactors/strategies/strategy.go
  internal/redactors/strategies/synthetic.go
  internal/validators/secrets/help.go
  internal/validators/template/README.md
  internal/validators/template/help.go
  internal/validators/template/validator.go
Due: go-fmt, go-vet, gosec

docs(v2-refactor): clarify --validator-budget accepts any duration unit (not seconds-only)
  README.md
  cmd/main.go
  cmd/validator_budget_test.go
  docs/configuration.md
  internal/help/help.go
Due: go-fmt, go-vet, gosec

docs: point container docs at ECR Public, fix registry accuracy
  .goreleaser.yml
  .pre-commit-config-examples.yaml
  README.md
  THREAT_MODEL.md
  docs/DOCKER_MULTIARCH.md
  docs/user-guides/README-Docker.md
Due: none

feat(metrics): weekly passive download-metrics dashboard
  .github/workflows/download-metrics.yml
  .gitignore
  docs/metrics/README.md
  docs/metrics/downloads.csv
  scripts/collect-download-metrics.py
Due: none

chore(metrics): mark weekly data commit [skip ci] to avoid waking build/test workflows
  .github/workflows/download-metrics.yml
Due: none

chore(v2-refactor): remove 14 dead private helpers from validators (~211 LOC)
  internal/validators/cloudresources/cloudresources.go
  internal/validators/email/validator.go
  internal/validators/intellectualproperty/validator.go
  internal/validators/ipaddress/validator.go
  internal/validators/personname/data.go
  internal/validators/personname/validator.go
  internal/validators/phone/validator.go
  internal/validators/socialmedia/validator.go
  internal/validators/ssn/validator.go
Due: go-fmt, go-vet, gosec

chore(v2-refactor): excise dead internal/performance package + its nil wiring (~2.5K LOC)
  internal/performance/benchmark.go
  internal/performance/metrics.go
  internal/performance/monitor.go
  internal/performance/observability_hooks.go
  internal/validators/dual_path_bridge.go
Due: go-fmt, go-vet, gosec

chore(v2-refactor): delete deprecated metadata_preprocessor.go, relocate live RouterInterface (~640 LOC)
  internal/preprocessors/base_metadata_preprocessor.go
  internal/preprocessors/metadata_preprocessor.go
Due: go-fmt, go-vet, gosec

perf(v2-refactor): parse config YAML once for field-presence checks (gap 6.4 slice)
  internal/config/config.go
Due: go-fmt, go-vet, gosec

fix(v2-refactor): unify file-type routing to one source of truth (gap 5.3)
  internal/router/extension_routing_test.go
  internal/router/file_router.go
Due: go-fmt, go-vet, gosec

fix(validators): never log raw matched values in debug output (BSC4)
  internal/validators/creditcard/validator.go
  internal/validators/intellectualproperty/validator.go
  internal/validators/socialmedia/validator.go
Due: go-fmt, go-vet, gosec

feat(v2-refactor): typed schema validation for config enum fields (gap 6.4)
  internal/config/config.go
  internal/config/schema.go
  internal/config/schema_registry_test.go
  internal/config/schema_test.go
Due: go-fmt, go-vet, gosec

feat(v2-refactor): live-bytes admission budget to bound peak memory (gap 2.3)
  README.md
  cmd/main.go
  cmd/max_live_bytes.go
  cmd/max_live_bytes_test.go
  docs/configuration.md
  internal/execguard/byteslimiter.go
  internal/execguard/byteslimiter_test.go
  internal/help/help.go
  internal/parallel/livebytes_test.go
  internal/parallel/worker_pool.go
Due: go-fmt, go-vet, gosec

feat(v2-refactor): expose live-bytes budget to library + fix gate placement
  README.md
  docs/configuration.md
  docs/proposals/V2_ARCHITECTURE.md
  internal/core/scanfile_livebytes_test.go
  internal/core/scanner.go
  internal/parallel/livebytes_test.go
  internal/parallel/worker_pool.go
Due: go-fmt, go-vet, gosec

fix(cli): reject --validator-budget and --max-live-bytes with --preprocess-only
  README.md
  cmd/main.go
  docs/configuration.md
Due: go-fmt, go-vet, gosec

refactor(v2-refactor): collapse dual Validate/ValidateContent interface surface (gap 3.2)
  internal/detector/detector.go
  internal/validators/cloudresources/cloudresources.go
  internal/validators/cloudresources/cloudresources_test.go
  internal/validators/comprehend/validator.go
  internal/validators/creditcard/validator.go
  internal/validators/creditcard/validator_test.go
  internal/validators/detector.go
  internal/validators/dual_path_integration.go
  internal/validators/email/validator.go
  internal/validators/intellectualproperty/validator.go
  internal/validators/ipaddress/validator.go
  internal/validators/ipaddress/validator_test.go
  internal/validators/metadata/metadata_validator.go
  internal/validators/passport/validator.go
  internal/validators/passport/validator_test.go
  internal/validators/personname/validator.go
  internal/validators/personname/validator_test.go
  internal/validators/phone/validator.go
  internal/validators/secrets/validator.go
  internal/validators/secrets/validator_test.go
  internal/validators/socialmedia/validator.go
  internal/validators/socialmedia/validator_test.go
  internal/validators/ssn/validator.go
  internal/validators/ssn/validator_test.go
  internal/validators/vin/validator.go
  internal/validators/vin/validator_test.go
Due: go-fmt, go-vet, gosec

perf(v2-refactor): elide the combine-step second copy of extracted content (gap 2.3)
  internal/router/combine_test.go
  internal/router/file_router.go
Due: go-fmt, go-vet, gosec

fix(security): resolve code-scanning alerts + refresh v2 docs
  .github/workflows/docker-multiarch.yml
  .gitlab-ci.yml
  .go-version
  .grype.yaml
  .trivyignore
  Dockerfile
  README.md
  THREAT_MODEL.md
  docs/GENAI_RESTORATION_GUIDE.md
  docs/GO_VERSION_MANAGEMENT.md
  docs/architecture-diagram.md
  docs/development/WINDOWS_CROSS_COMPILATION.md
  docs/development/creating_validators.md
  docs/development/debug_logging.md
  docs/development/text_extraction_integration.md
  docs/ferret-application-flow.md
  docs/proposals/V2_ARCHITECTURE.md
  docs/reference/IMPLEMENTATION_STATUS.md
  docs/reference/SUPPRESSION_SYSTEM_IMPROVEMENTS.md
  go.mod
  go.sum
  internal/router/combine_test.go
  internal/validators/creditcard/README.md
  internal/validators/intellectualproperty/README.md
  internal/validators/ipaddress/README.md
  internal/validators/passport/README.md
  internal/validators/personname/README.md
  internal/validators/phone/README.md
  internal/validators/ssn/README.md
Due: go-version-check, go-fmt, go-vet, go-mod-tidy, gosec

docs(readme): list all 13 validators exhaustively
  README.md
Due: none

docs(readme): revamp as a product landing page + animated demo
  README.md
  docs/images/demo.svg
Due: none

fix(redact): route all credit-card brands through card redaction
  internal/redactors/replacement/creditcard_test.go
  internal/redactors/replacement/replacement.go
Due: go-fmt, go-vet, gosec

fix(redact): mask credit-card BIN in format-preserving strategy
  docs/configuration.md
  docs/user-guides/README-Redaction.md
  internal/goldencorpus/testdata/golden/creditcard_brands.redact_format_preserving.txt
  internal/goldencorpus/testdata/golden/mixed_pii_basic.redact_format_preserving.txt
  internal/redactors/replacement/creditcard_test.go
  internal/redactors/replacement/replacement.go
Due: go-fmt, go-vet, gosec
