Repository awslabs/ferret-scan: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version-check, go-fmt, go-vet, go-mod-tidy, gosec

go-version-check:
  name: Check Go version consistency
  entry: ./scripts/go-version.sh
  args:
  - check
  language: script
  pass_filenames: false

go-fmt:
  name: Go Format
  entry: gofmt
  args:
  - -w
  language: golang

go-vet:
  name: Go Vet
  entry: go
  args:
  - vet
  - ./...
  language: golang
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go
  args:
  - mod
  - tidy
  language: golang
  pass_filenames: false

gosec:
  name: Gosec Security Scanner
  entry: gosec
  args:
  - -severity
  - high
  - -quiet
  - ./...
  language: golang
  pass_filenames: false

chore(make, install): delete the dead precommit-wrapper target and its false install claim (#570)
  CHANGELOG.md
  Makefile
  scripts/install-system.sh
Due: none

docs(args): fix eight argument arrays that silently lose their flags, and widen the guard
  CHANGELOG.md
  cmd/documented_arg_arrays_test.go
  docs/INSTALLATION.md
  docs/WINDOWS_INSTALLATION.md
  docs/development/WINDOWS_DEVELOPMENT.md
  docs/troubleshooting/WINDOWS_TROUBLESHOOTING.md
  docs/user-guides/README-Windows-Usage.md
Due: go-fmt, go-vet, gosec

fix(precommit, formatters): honour an explicit --quiet at the formatter, not just the progress output
  CHANGELOG.md
  cmd/main.go
  cmd/precommit_explicit_quiet_test.go
  cmd/stdin.go
  docs/PRE_COMMIT_INTEGRATION.md
Due: go-fmt, go-vet, gosec

docs(args): fix eight argument arrays that silently lose their flags, and widen the guard (#571)
  CHANGELOG.md
  cmd/documented_arg_arrays_test.go
  docs/INSTALLATION.md
  docs/WINDOWS_INSTALLATION.md
  docs/development/WINDOWS_DEVELOPMENT.md
  docs/troubleshooting/WINDOWS_TROUBLESHOOTING.md
  docs/user-guides/README-Windows-Usage.md
Due: go-fmt, go-vet, gosec

fix(precommit, formatters): honour an explicit --quiet at the formatter, not just the progress output (#572)
  CHANGELOG.md
  cmd/main.go
  cmd/precommit_explicit_quiet_test.go
  cmd/stdin.go
  docs/PRE_COMMIT_INTEGRATION.md
Due: go-fmt, go-vet, gosec

fix(svg): redact the drawing, not the prose extracted out of it
  internal/core/redact.go
  internal/redactors/plaintext/redactor.go
  internal/redactors/svg/redactor.go
  internal/redactors/svg/redactor_test.go
Due: go-fmt, go-vet, gosec

feat(svg): extract only an SVG's prose, never its geometry
  internal/preprocessors/text-extractors/README.md
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg-text-extractor.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg_complexity_test.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg_extraction_test.go
Due: go-fmt, go-vet, gosec

fix(embedded): scan and redact an embedded .svg (#314)
  internal/core/svg_endtoend_test.go
  internal/embedded/embedded.go
  internal/embedded/svg_admission_test.go
  internal/preprocessors/base_metadata_preprocessor.go
Due: go-fmt, go-vet, gosec

fix(svg): route .svg to the SVG extractor, and withdraw the plaintext claim
  internal/preprocessors/README.md
  internal/preprocessors/plaintext_preprocessor.go
  internal/preprocessors/shared_utilities.go
  internal/preprocessors/svg_routing_test.go
  internal/preprocessors/text_preprocessor.go
Due: go-fmt, go-vet, gosec

docs(svg): list .svg as supported and state what it does and does not read
  docs/development/text_extraction_integration.md
Due: none

fix(router): a file that parsed and held no text is clean, not unparseable
  internal/router/file_router.go
Due: go-fmt, go-vet, gosec

fix(svg): collect a mailto:/tel: link target, and re-cite the flood at HEAD
  CHANGELOG.md
  docs/development/text_extraction_integration.md
  internal/core/svg_endtoend_test.go
  internal/embedded/embedded.go
  internal/embedded/svg_admission_test.go
  internal/preprocessors/README.md
  internal/preprocessors/base_metadata_preprocessor.go
  internal/preprocessors/plaintext_preprocessor.go
  internal/preprocessors/shared_utilities.go
  internal/preprocessors/svg_routing_test.go
  internal/preprocessors/text-extractors/README.md
  internal/preprocessors/text-extractors/text-extract-svgtextlib/contact_target_test.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg-text-extractor.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg_extraction_test.go
  internal/preprocessors/text_preprocessor.go
Due: go-fmt, go-vet, gosec

fix(redaction): remove a reported value everywhere, and verify the written output
  CHANGELOG.md
  cmd/stdin.go
  docs/user-guides/README-Redaction.md
  internal/parallel/floor_test.go
  internal/parallel/worker_pool.go
  internal/redactors/embedded.go
  internal/redactors/plaintext/redactor.go
  internal/redactors/plaintext/sweep_match_set_test.go
  internal/redactverify/leaf_package_test.go
  internal/redactverify/redactverify.go
  internal/redactverify/redactverify_test.go
Due: go-fmt, go-vet, gosec

chore(build): move every Go pin to 1.27.1, and stop the check validating a comment
  .gitlab-ci.yml
  .go-version
  CHANGELOG.md
  Dockerfile
  THREAT_MODEL.md
  docs/GO_VERSION_MANAGEMENT.md
  docs/INSTALLATION.md
  docs/deployment/GITLAB_SECURITY_SCANNER_SETUP.md
  docs/development/WINDOWS_CROSS_COMPILATION.md
  docs/development/WINDOWS_DEVELOPMENT.md
  go.mod
  scripts/go-version.sh
Due: go-version-check, go-mod-tidy

docs(changelog): record the GitLab CI setup rewrite
  CHANGELOG.md
Due: none

docs(go version): stop restating a Go version by hand
  README.md
  docs/webui-version-info.md
Due: none

docs(gitlab-ci): point at .gitlab-ci.yml instead of restating it
  docs/deployment/GITLAB_CI_SETUP.md
Due: none

test(docs): check a job-name heading against the real pipeline
  cmd/documented_ci_jobs_test.go
Due: go-fmt, go-vet, gosec

docs(links): retarget two links to a testing guide that never existed
  CHANGELOG.md
  docs/user-guides/README-Enhanced-Metadata.md
  docs/user-guides/README-Preprocess-Only.md
Due: none

test(fixtures): build .docx fixtures in t.TempDir(), not the working tree
  internal/core/routing_coverage_test.go
  internal/router/attribution_provenance_test.go
  internal/router/structured_sections_test.go
Due: go-fmt, go-vet, gosec

docs(changelog): record the in-tree scratch and vacuity fixes
  CHANGELOG.md
Due: none

test(guards): a vanished path is not a broken walk
  cmd/documented_env_vars_test.go
Due: go-fmt, go-vet, gosec

test(router, core): stop four tests passing without the extractor they are about
  internal/core/confidence_independence_test.go
  internal/router/determinism_test.go
  internal/router/empty_extraction_visibility_test.go
Due: go-fmt, go-vet, gosec

test(complexity): rewrite the controls, and pin what CPU accounting assumes
  internal/goldencorpus/complexity_confirmation_test.go
Due: go-fmt, go-vet, gosec

test(complexity): measure CPU time with GC off, and compare minimums
  internal/goldencorpus/complexity_guard_test.go
Due: go-fmt, go-vet, gosec

test(complexity): read process CPU time through stdlib on all three platforms
  internal/goldencorpus/cputime_unix_test.go
  internal/goldencorpus/cputime_windows_test.go
Due: go-fmt, go-vet, gosec

docs(changelog): record the complexity guard's new statistic
  CHANGELOG.md
Due: none

fix(svg): extract an SVG's prose instead of its geometry, and collect mailto:/tel: targets (#573)
  CHANGELOG.md
  docs/development/text_extraction_integration.md
  internal/core/redact.go
  internal/core/svg_endtoend_test.go
  internal/embedded/embedded.go
  internal/embedded/svg_admission_test.go
  internal/preprocessors/README.md
  internal/preprocessors/base_metadata_preprocessor.go
  internal/preprocessors/plaintext_preprocessor.go
  internal/preprocessors/shared_utilities.go
  internal/preprocessors/svg_routing_test.go
  internal/preprocessors/text-extractors/README.md
  internal/preprocessors/text-extractors/text-extract-svgtextlib/contact_target_test.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg-text-extractor.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg_complexity_test.go
  internal/preprocessors/text-extractors/text-extract-svgtextlib/svg_extraction_test.go
  internal/preprocessors/text_preprocessor.go
  internal/redactors/plaintext/redactor.go
  internal/redactors/svg/redactor.go
  internal/redactors/svg/redactor_test.go
  internal/router/file_router.go
Due: go-fmt, go-vet, gosec

fix(redaction): remove a reported value everywhere, and verify the written output (#574)
  CHANGELOG.md
  cmd/stdin.go
  docs/user-guides/README-Redaction.md
  internal/parallel/floor_test.go
  internal/parallel/worker_pool.go
  internal/redactors/embedded.go
  internal/redactors/plaintext/redactor.go
  internal/redactors/plaintext/sweep_match_set_test.go
  internal/redactverify/leaf_package_test.go
  internal/redactverify/redactverify.go
  internal/redactverify/redactverify_test.go
Due: go-fmt, go-vet, gosec

chore(build): move every Go pin to 1.27.1, and stop the check validating a comment (#576)
  .gitlab-ci.yml
  .go-version
  CHANGELOG.md
  Dockerfile
  THREAT_MODEL.md
  docs/GO_VERSION_MANAGEMENT.md
  docs/INSTALLATION.md
  docs/deployment/GITLAB_SECURITY_SCANNER_SETUP.md
  docs/development/WINDOWS_CROSS_COMPILATION.md
  docs/development/WINDOWS_DEVELOPMENT.md
  go.mod
  scripts/go-version.sh
Due: go-version-check, go-mod-tidy

docs(gitlab-ci): point the CI setup page at .gitlab-ci.yml instead of restating a pipeline that does not exist (#578)
  CHANGELOG.md
  README.md
  cmd/documented_ci_jobs_test.go
  docs/deployment/GITLAB_CI_SETUP.md
  docs/user-guides/README-Enhanced-Metadata.md
  docs/user-guides/README-Preprocess-Only.md
  docs/webui-version-info.md
Due: go-fmt, go-vet, gosec

test(fixtures): build .docx fixtures in t.TempDir(), and stop four tests passing without the extractor they are about (#580)
  CHANGELOG.md
  cmd/documented_env_vars_test.go
  internal/core/confidence_independence_test.go
  internal/core/routing_coverage_test.go
  internal/router/attribution_provenance_test.go
  internal/router/determinism_test.go
  internal/router/empty_extraction_visibility_test.go
  internal/router/structured_sections_test.go
Due: go-fmt, go-vet, gosec

test(complexity): measure CPU time with GC off and compare minimums, because the wall-clock ratio scored linear code above quadratic (#581)
  CHANGELOG.md
  internal/goldencorpus/complexity_confirmation_test.go
  internal/goldencorpus/complexity_guard_test.go
  internal/goldencorpus/cputime_unix_test.go
  internal/goldencorpus/cputime_windows_test.go
Due: go-fmt, go-vet, gosec

test(socialmedia): pin both mechanisms, with the must-not-veto cases where the rules act
  internal/validators/socialmedia/bare_handle_ceiling_test.go
  internal/validators/socialmedia/make_and_digest_syntax_test.go
Due: go-fmt, go-vet, gosec

fix(socialmedia): demote a bare handle that nothing corroborates
  internal/validators/socialmedia/bare_handle_ceiling.go
Due: go-fmt, go-vet, gosec

docs(changelog): record the socialmedia handle precision work
  CHANGELOG.md
Due: none

fix(socialmedia): a Make recipe prefix and an image digest are not handles
  internal/validators/socialmedia/handle_syntax.go
  internal/validators/socialmedia/handle_syntax_test.go
  internal/validators/socialmedia/validator.go
Due: go-fmt, go-vet, gosec

fix(socialmedia): narrow corroboration to phrases, not bare generic words
  CHANGELOG.md
  internal/validators/socialmedia/bare_handle_ceiling.go
  internal/validators/socialmedia/bare_handle_ceiling_test.go
Due: go-fmt, go-vet, gosec

docs(coverage): say where skipped types ARE named, not that they are not
  CHANGELOG.md
  docs/COVERAGE_DISCLOSURE.md
Due: none

test(coverage): pin determinism, the disclosed cap, and the dotfile boundary
  internal/formatters/skipped_types_test.go
Due: go-fmt, go-vet, gosec

Path conditions:
  go-version-check: any of: ^(go\.mod|\.go-version|\.gitlab-ci\.yml|Dockerfile)$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  gosec: any of: \.go$
