Repository awslabs/ferret-scan: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version-check, go-fmt, go-vet, go-mod-tidy, gosec

go-version-check:
  name: Check Go version consistency
  entry: ./scripts/go-version.sh
  args:
  - check
  language: script
  pass_filenames: false

go-fmt:
  name: Go Format
  entry: gofmt
  args:
  - -w
  language: golang

go-vet:
  name: Go Vet
  entry: go
  args:
  - vet
  - ./...
  language: golang
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go
  args:
  - mod
  - tidy
  language: golang
  pass_filenames: false

gosec:
  name: Gosec Security Scanner
  entry: gosec
  args:
  - -severity
  - high
  - -quiet
  - ./...
  language: golang
  pass_filenames: false

fix(redaction): consolidate replacement logic, fix synthetic strategy, reduce person name false positives
  .gitignore
  README.md
  docs/README.md
  docs/configuration.md
  docs/user-guides/README-Redaction.md
  internal/redactors/office/redactor.go
  internal/redactors/pdf/redactor.go
  internal/redactors/plaintext/redactor.go
  internal/redactors/replacement/replacement.go
  internal/redactors/strategies/synthetic.go
  internal/validators/personname/data/first_names.txt.gz
  internal/validators/personname/data/last_names.txt.gz
Due: go-fmt, go-vet, gosec

refactor: reduce duplication, fix suppression count, add tests, improve resilience
  cmd/main.go
  internal/config/config.go
  internal/config/config_test.go
  internal/core/factory.go
  internal/core/scanner.go
  internal/core/scanner_test.go
  internal/parallel/parallel_processor.go
  internal/resilience/retry.go
  internal/resilience/retry_test.go
  internal/router/file_router.go
  internal/security/memory.go
  internal/security/memory_test.go
  internal/suppressions/suppression.go
  internal/suppressions/suppression_test.go
  internal/validators/enhanced_integration.go
  internal/web/server.go
Due: go-fmt, go-vet, gosec

fix(person-name): remove ambiguous words and expand diverse name coverage
  internal/validators/personname/data/first_names.txt.gz
  internal/validators/personname/data/last_names.txt.gz
Due: none

chore: remove bin/ferret-scan dispatcher script, simplify .gitignore
  .gitignore
  bin/ferret-scan
Due: none

chore: remove git-chglog configuration files
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
Due: none

fix(changelog): restore git-chglog config with correct GitHub repository URL
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
Due: none

chore: add CHANGELOG.md for v1.5.0 release
  CHANGELOG.md
Due: none

fix(pre-commit): switch hook language from script to golang
  .pre-commit-hooks.yaml
Due: none

Revert "fix(pre-commit): switch hook language from script to golang"
  .pre-commit-hooks.yaml
Due: none

fix(pre-commit): switch hook to language:python with PyPI install
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
Due: none

chore: update CHANGELOG for v1.5.1
  CHANGELOG.md
Due: none

fix(pdf): recover from PDF library panics on corrupted files
  internal/preprocessors/text-extractors/text-extract-pdftextlib/pdf-text-extractor.go
  internal/router/file_router.go
Due: go-fmt, go-vet, gosec

chore: update CHANGELOG for v1.5.2
  CHANGELOG.md
Due: none

feat(ip-validator): add disabled_types to skip specific IP sub-type detections
  README.md
  cmd/main.go
  docs/PRE_COMMIT_INTEGRATION.md
  docs/TEAM_SETUP_GUIDE.md
  docs/configuration.md
  examples/README-Windows-Configurations.md
  examples/ferret-dev-windows.yaml
  examples/ferret-enterprise-windows.yaml
  examples/ferret-powershell.yaml
  examples/ferret-windows.yaml
  examples/ferret.yaml
  internal/help/help.go
  internal/validators/intellectualproperty/README.md
  internal/validators/intellectualproperty/help.go
  internal/validators/intellectualproperty/validator.go
Due: go-fmt, go-vet, gosec

chore: bump .go-version to 1.26.0
  .go-version
Due: go-version-check

feat(formatter): show IP sub-type in TYPE column instead of generic INTELLECTUAL_PROPERTY
  internal/formatters/text/formatter.go
Due: go-fmt, go-vet, gosec

fix:Pinned Trivy scan for Docker images to a SHA to prevent impact from future supply chain attacks
  .github/workflows/docker-multiarch.yml
Due: none

feat(vin-validator): add Vehicle Identification Number detection with check digit validation
  .gitlab-ci.yml
  .go-version
  Dockerfile
  README.md
  cmd/main.go
  config.yaml
  docs/GO_VERSION_MANAGEMENT.md
  docs/INSTALLATION.md
  docs/PRE_COMMIT_INTEGRATION.md
  docs/configuration.md
  docs/deployment/GITLAB_CI_SETUP.md
  docs/deployment/GITLAB_SECURITY_SCANNER_SETUP.md
  docs/deployment/enhanced-architecture-deployment.md
  docs/development/WINDOWS_CROSS_COMPILATION.md
  docs/development/WINDOWS_DEVELOPMENT.md
  docs/development/creating_validators.md
  docs/ferret-application-flow.md
  docs/webui-version-info.md
  examples/ferret-windows.yaml
  go.mod
  internal/core/factory.go
  internal/core/scanner.go
  internal/formatters/csv/formatter.go
  internal/formatters/gitlab-sast/mapper.go
  internal/formatters/gitlab-sast/sanitizer.go
  internal/formatters/sarif/constants.go
  internal/formatters/sarif/mapper.go
  internal/formatters/text/formatter.go
  internal/help/help.go
  internal/validators/vin/README.md
  internal/validators/vin/help.go
  internal/validators/vin/validator.go
  internal/validators/vin/validator_test.go
  scripts/create-config.sh
Due: go-version-check, go-fmt, go-vet, go-mod-tidy, gosec

perf(validators): precompile regex patterns and cache CIDR parsing; add worker panic recovery
  internal/parallel/worker_pool.go
  internal/validators/creditcard/validator.go
  internal/validators/email/validator.go
  internal/validators/ipaddress/validator.go
  internal/validators/passport/validator.go
  internal/validators/personname/validator.go
  internal/validators/phone/validator.go
  internal/validators/ssn/validator.go
Due: go-fmt, go-vet, gosec

fix: CSV injection hardening, redaction sort, upload limits, memory estimate
  internal/formatters/csv/formatter.go
  internal/parallel/resource_monitor.go
  internal/redactors/plaintext/redactor.go
  internal/web/server.go
Due: go-fmt, go-vet, gosec

Path conditions:
  go-version-check: any of: ^(go\.mod|\.go-version|\.gitlab-ci\.yml|Dockerfile)$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  gosec: any of: \.go$
