Repository awslabs/ferret-scan: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version-check, go-fmt, go-vet, go-mod-tidy, gosec

go-version-check:
  name: Check Go version consistency
  entry: ./scripts/go-version.sh
  args:
  - check
  language: script
  pass_filenames: false

go-fmt:
  name: Go Format
  entry: gofmt
  args:
  - -w
  language: golang

go-vet:
  name: Go Vet
  entry: go
  args:
  - vet
  - ./...
  language: golang
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go
  args:
  - mod
  - tidy
  language: golang
  pass_filenames: false

gosec:
  name: Gosec Security Scanner
  entry: gosec
  args:
  - -severity
  - high
  - -quiet
  - ./...
  language: golang
  pass_filenames: false

feat:Multi processing addition to the path bridge and Secrets validator enhancements with 79% or more performance increase.
  .gitignore
  internal/validators/dual_path_bridge.go
  internal/validators/secrets/validator.go
Due: go-fmt, go-vet, gosec

feat(validators): enhance email validator with RFC compliance and comprehensive TLD validation
  internal/validators/email/validator.go
  internal/validators/secrets/validator.go
Due: go-fmt, go-vet, gosec

perf: optimize plaintext preprocessor by conditionally disabling position mapping
  cmd/main.go
  internal/core/scanner.go
  internal/preprocessors/plaintext_preprocessor.go
  internal/router/integration.go
Due: go-fmt, go-vet, gosec

chore: removed isLikelyNonSensitive
  internal/preprocessors/plaintext_preprocessor.go
Due: go-fmt, go-vet, gosec

security: remove isLikelyNonSensitive function and update Go to 1.25.5
  .go-version
  go.mod
Due: go-version-check, go-mod-tidy

fix: remove binary committing from release workflow
  .github/workflows/release.yml
Due: none

feat(ip-validator): ensure configured internal URLs always receive HIGH confidence
  internal/validators/intellectualproperty/validator.go
Due: go-fmt, go-vet, gosec

feat(ip-validator,progress): show current filename in progress bar
  cmd/main.go
  internal/parallel/parallel_processor.go
Due: go-fmt, go-vet, gosec

security: update Go version to 1.25.5 to address CVE-2025-61727 and CVE-2025-61729
  .gitlab-ci.yml
  Dockerfile
Due: go-version-check

feat: add --exclude flag for file and directory exclusion
  README.md
  cmd/main.go
  docs/configuration.md
  internal/config/config.go
  internal/help/help.go
Due: go-fmt, go-vet, gosec

fix(redaction): consolidate replacement logic, fix synthetic strategy, reduce person name false positives
  .gitignore
  README.md
  docs/README.md
  docs/configuration.md
  docs/user-guides/README-Redaction.md
  internal/redactors/office/redactor.go
  internal/redactors/pdf/redactor.go
  internal/redactors/plaintext/redactor.go
  internal/redactors/replacement/replacement.go
  internal/redactors/strategies/synthetic.go
  internal/validators/personname/data/first_names.txt.gz
  internal/validators/personname/data/last_names.txt.gz
Due: go-fmt, go-vet, gosec

Path conditions:
  go-version-check: any of: ^(go\.mod|\.go-version|\.gitlab-ci\.yml|Dockerfile)$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  gosec: any of: \.go$
