Repository awslabs/ferret-scan: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version-check, go-fmt, go-vet, go-mod-tidy, gosec, ferret-scan

.pre-commit-config.yaml:

# Pre-commit configuration for Ferret Scan
# To test: make test-precommit
# To customize: See .pre-commit-config-examples.yaml for different configurations
#
# Current config: Simple approach using script defaults
# - Scans for: HIGH confidence findings only
# - Fails on: HIGH confidence findings only
# - Format: text output, no color, quiet mode
repos:
  # Go version consistency check
  - repo: local
    hooks:
      - id: go-version-check
        name: Check Go version consistency
        entry: ./scripts/go-version.sh
        args: [check]
        language: script
        files: '^(go\.mod|\.go-version|\.gitlab-ci\.yml|Dockerfile)$'
        pass_filenames: false

  # Go formatting
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        args: [-w]
        language: golang
        files: '\.go$'

  # Go vet
  - repo: local
    hooks:
      - id: go-vet
        name: Go Vet
        entry: go
        args: [vet, ./...]
        language: golang
        files: '\.go$'
        pass_filenames: false

  # Go mod tidy
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: go
        args: [mod, tidy]
        language: golang
        files: '^go\.(mod|sum)$'
        pass_filenames: false

  # Gosec security scanner (high severity only)
  - repo: local
    hooks:
      - id: gosec
        name: Gosec Security Scanner
        entry: gosec
        args: [-severity, high, -quiet, ./...]
        language: golang
        files: '\.go$'
        pass_filenames: false

  # Ferret Scan security check
  - repo: local
    hooks:
      - id: ferret-scan
        name: Ferret Scan Security Check
        entry: ./bin/ferret-scan --pre-commit-mode
        language: system
        files: '\.(go|js|py|java|txt|md|yaml|yml|json|xml|sql|sh)$'
        exclude: '^(\.git/|bin/|dist/|node_modules/|\.cache/|test_|_test\.)'
        pass_filenames: true

Update README.md
  README.md
Due: ferret-scan

feat: add GitHub Actions release workflow
  .github/workflows/release.yml
  .goreleaser.yml
Due: ferret-scan

feat: update GitHub Actions
  .goreleaser.yml
Due: ferret-scan

fix: skip git validation in goreleaser
  .github/workflows/release.yml
Due: ferret-scan

feat: change output text from "[REDACTED]" to "[HIDDEN]"
  README.md
  docs/development/comprehend_implementation_summary.md
  docs/user-guides/README-Enhanced-Metadata.md
  docs/user-guides/README-Suppressions.md
  examples/ferret-dev-windows.yaml
  examples/ferret-enterprise-windows.yaml
  examples/ferret-powershell.yaml
  examples/ferret-windows.yaml
  examples/ferret.yaml
  internal/config/config.go
  internal/formatters/csv/formatter.go
  internal/formatters/gitlab-sast/sanitizer.go
  internal/formatters/text/formatter.go
  internal/help/help.go
  internal/monitoring/debug_logger.go
  internal/preprocessors/meta-extractors/meta-extract-pdflib/pdf-extractor.go
  internal/redactors/office/redactor.go
  internal/redactors/pdf/redactor.go
  internal/redactors/plaintext/redactor.go
  internal/redactors/strategies/format_preserving.go
  internal/redactors/strategies/simple.go
  internal/validators/comprehend/README.md
  internal/validators/comprehend/validator.go
  web/template.html
Due: go-fmt, go-vet, gosec, ferret-scan

fix: update GitHub Actions upload-artifact to v4
  .github/workflows/ferret-scan.yml
  docs/DOCKER_INTEGRATION.md
  docs/PRE_COMMIT_INTEGRATION.md
  docs/development/WINDOWS_CROSS_COMPILATION.md
Due: ferret-scan

chore: Update GitHub Action codeql to v3
  .github/workflows/ferret-scan.yml
Due: ferret-scan

feat: Added SARIF output
  .github/workflows/ferret-scan.yml
  cmd/main.go
  internal/formatters/README.md
  internal/formatters/formatter.go
  internal/formatters/sarif/constants.go
  internal/formatters/sarif/formatter.go
  internal/formatters/sarif/mapper.go
  internal/formatters/sarif/models.go
  internal/formatters/sarif/rules.go
  internal/help/help.go
  internal/web/server.go
  web/template.html
Due: go-fmt, go-vet, gosec, ferret-scan

feat: Added Sarif fine tuning for self scans
  .github/workflows/ferret-scan.yml
Due: ferret-scan

feat: Make ferret-scan a truly standalone binary
  .goreleaser.yml
  Dockerfile
  Makefile
  internal/web/assets/template.html
  internal/web/server.go
Due: go-version-check, go-fmt, go-vet, gosec, ferret-scan

fix: Update GitHub workflow to use new JSON format (.results instead of .findings)
  .github/workflows/ferret-scan.yml
Due: ferret-scan

Removed external liniks to published binary to ensure it functions stand alone. Updated goreleaser to only include binaries.
  Makefile
Due: none

feat: many updates
  .github/workflows/ferret-scan.yml
Due: ferret-scan

fix: minor goreleaser changes
  .goreleaser.yml
Due: ferret-scan
