Repository awslabs/ferret-scan: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version-check, go-fmt, go-vet, go-mod-tidy, gosec

go-version-check:
  name: Check Go version consistency
  entry: ./scripts/go-version.sh
  args:
  - check
  language: script
  pass_filenames: false

go-fmt:
  name: Go Format
  entry: gofmt
  args:
  - -w
  language: golang

go-vet:
  name: Go Vet
  entry: go
  args:
  - vet
  - ./...
  language: golang
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go
  args:
  - mod
  - tidy
  language: golang
  pass_filenames: false

gosec:
  name: Gosec Security Scanner
  entry: gosec
  args:
  - -severity
  - high
  - -quiet
  - ./...
  language: golang
  pass_filenames: false

fix: CSV injection hardening, redaction sort, upload limits, memory estimate
  internal/formatters/csv/formatter.go
  internal/parallel/resource_monitor.go
  internal/redactors/plaintext/redactor.go
  internal/web/server.go
Due: go-fmt, go-vet, gosec

refactor(ssn): replace strconv.Atoi with byte arithmetic in isSequential
  internal/validators/ssn/validator.go
Due: go-fmt, go-vet, gosec

test(validators): add unit tests for all validators; fix phone regex boundaries
  internal/validators/creditcard/validator_test.go
  internal/validators/ipaddress/validator_test.go
  internal/validators/passport/validator_test.go
  internal/validators/personname/validator_test.go
  internal/validators/phone/validator.go
  internal/validators/phone/validator_test.go
  internal/validators/secrets/validator_test.go
  internal/validators/socialmedia/validator_test.go
  internal/validators/ssn/validator_test.go
Due: go-fmt, go-vet, gosec

feat(gitignore): add opt-in --respect-gitignore flag
  README.md
  cmd/main.go
  config.yaml
  docs/configuration.md
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/gitignore/integration_test.go
  internal/gitignore/matcher.go
  internal/gitignore/matcher_test.go
  internal/help/help.go
Due: go-version-check, go-fmt, go-vet, go-mod-tidy, gosec

fix(config): profile omitting a bool field inherits from defaults
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-vet, gosec

refactor(config): remove unused getProfile field from profileBoolField
  internal/config/config.go
Due: go-fmt, go-vet, gosec

docs(gitignore): fix misleading cross-file negation comment, add limitation test
  internal/gitignore/integration_test.go
  internal/gitignore/matcher.go
Due: go-fmt, go-vet, gosec

feat(web): folder drag-drop, --config/--suppression-file/--exclude in web mode
  cmd/main.go
  internal/suppressions/suppression.go
  internal/web/assets/template.html
  internal/web/server.go
Due: go-fmt, go-vet, gosec

perf: hoist regexes, hash-index suppressions, fix goroutine leak
  internal/parallel/adaptive_processor.go
  internal/parallel/adaptive_processor_test.go
  internal/suppressions/suppression.go
  internal/validators/secrets/validator.go
  internal/web/server.go
Due: go-fmt, go-vet, gosec

test+race: harden phase-1 fixes — RWMutex, multi-line PEM coverage, race-clean Stop
  internal/parallel/adaptive_processor.go
  internal/suppressions/suppression.go
  internal/suppressions/suppression_test.go
  internal/validators/secrets/validator_test.go
Due: go-fmt, go-vet, gosec

perf+chore: phase 2 — hoist regexes, bound goroutines, surface yaml errors, CI matrix
  .github/workflows/go-test.yml
  .gitignore
  internal/parallel/resource_monitor.go
  internal/parallel/worker_pool.go
  internal/preprocessors/plaintext_preprocessor.go
  internal/suppressions/suppression.go
  internal/validators/intellectualproperty/validator.go
  internal/validators/metadata/metadata_validator.go
Due: go-fmt, go-vet, gosec

test: track validator tests previously hidden by .gitignore
  internal/validators/email/validator_test.go
  internal/validators/intellectualproperty/validator_test.go
Due: go-fmt, go-vet, gosec

fix: resilience retry flake + missing tests/helpers package (cross-platform CI)
  internal/resilience/retry.go
  internal/resilience/retry_test.go
  tests/helpers/helpers.go
Due: go-fmt, go-vet, gosec

ci: exclude tests/integration from go-test workflow
  .github/workflows/go-test.yml
Due: none

ci: bump GitHub Actions to versions running on Node 24
  .github/workflows/build-shared.yml
  .github/workflows/docker-multiarch.yml
  .github/workflows/ferret-scan.yml
  .github/workflows/go-test.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/python-package.yml
  .github/workflows/release.yml
Due: none

perf+refactor: cache suppression manager + dedup 12 web handlers
  internal/web/server.go
Due: go-fmt, go-vet, gosec

feat(web): suppression expiration bulk ops, folder-picker polish, fix tests
  Makefile
  internal/web/assets/template.html
  internal/web/server.go
Due: go-fmt, go-vet, gosec

docs: realign with v1.7.0 — folder upload, web caching, O(1) suppressions, 100MB limit
  CHANGELOG.md
  README.md
  cmd/main.go
  docs/README.md
  docs/architecture-diagram.md
  docs/development/WINDOWS_CROSS_COMPILATION.md
  docs/development/WINDOWS_DEVELOPMENT.md
  docs/ferret-application-flow.md
  docs/reference/SUPPRESSION_SYSTEM_IMPROVEMENTS.md
  docs/reference/quotas-and-limits.md
  docs/social-media-configuration.md
  docs/suppression-system.md
  docs/user-guides/README-Suppressions.md
  docs/user-guides/README-WebUI.md
Due: go-fmt, go-vet, gosec

fix(resilience): make TestRetryWithBackoff_ExponentialDelayGrowth Windows-stable
  internal/resilience/retry_test.go
Due: go-fmt, go-vet, gosec

feat(stdin): scan and streaming redaction support
  .goreleaser.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  README.md
  cmd/main.go
  cmd/stdin.go
  docs/GENAI_RESTORATION_GUIDE.md
  docs/PRE_COMMIT_INTEGRATION.md
  docs/README.md
  docs/architecture-diagram.md
  docs/deployment/enhanced-architecture-deployment.md
  docs/development/WINDOWS_CROSS_COMPILATION.md
  docs/development/WINDOWS_DEVELOPMENT.md
  docs/ferret-application-flow.md
  docs/user-guides/README-Redaction.md
  docs/user-guides/README-Stdin.md
  docs/webui-version-info.md
  internal/core/scanner.go
  internal/core/scanner_test.go
  internal/detector/detector.go
  internal/detector/detector_test.go
  internal/formatters/gitlab-sast/mapper.go
  internal/formatters/sarif/mapper.go
  internal/help/help.go
  internal/parallel/validator_runner.go
  internal/parallel/validator_runner_test.go
  internal/parallel/worker_pool.go
  internal/redactors/plaintext/redactor.go
  python-package/README.md
  python-package/build-package.sh
  scripts/restore-genai-features.sh
  scripts/test-compatibility.sh
  tests/integration/stdin_test.go
  tests/integration/windows_release_comprehensive_test.go
  tests/integration/windows_release_validation_test.go
  tests/integration/windows_user_experience_test.go
Due: go-version-check, go-fmt, go-vet, gosec

feat(security): web hardening + threat-model fixes + repo hygiene
  .gitignore
  .gitlab-ci.yml
  .go-version
  .pre-commit-config-examples.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  Dockerfile
  README.md
  THREAT_MODEL.md
  cmd/main.go
  docs/PRE_COMMIT_INTEGRATION.md
  docs/configuration.md
  docs/deployment/GITLAB_SECURITY_SCANNER_PRODUCTION.md
  docs/user-guides/README-Enhanced-Metadata.md
  internal/config/config.go
  internal/formatters/gitlab-sast/mapper.go
  internal/formatters/gitlab-sast/sanitizer.go
  internal/help/help.go
  internal/parallel/validator_runner_test.go
  internal/preprocessors/meta-extractors/meta-extract-videolib/video-extractor.go
  internal/redactors/output_manager.go
  internal/redactors/output_manager_test.go
  internal/redactors/pdf/redactor.go
  internal/redactors/plaintext/redactor.go
  internal/redactors/plaintext/similarity_test.go
  internal/redactors/replacement/replacement.go
  internal/redactors/strategies/format_preserving.go
  internal/redactors/strategies/simple.go
  internal/redactors/validation/recovery.go
  internal/resilience/retry.go
  internal/validators/intellectualproperty/validator.go
  internal/validators/metadata/metadata_validator.go
  internal/validators/secrets/validator.go
  internal/web/assets/template.html
  internal/web/security.go
  internal/web/security_test.go
  internal/web/server.go
  licensecheck.toml
  scripts/create-release.sh
Due: go-version-check, go-fmt, go-vet, gosec

Path conditions:
  go-version-check: any of: ^(go\.mod|\.go-version|\.gitlab-ci\.yml|Dockerfile)$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  gosec: any of: \.go$
